<form #flightForm="ngForm" (ngSubmit)="onSubmit(flightForm)" (ngModelChange)="onFormChange()">
    <div>

      <label for="airline">Airline:</label>
      <input type="text" name="airline" [(ngModel)]="formData.airline" required
      [ngClass]="{'is-invalid': flightForm.controls['airline']?.invalid && flightForm.controls['airline']?.touched}">
      <div *ngIf="flightForm.controls['airline']?.invalid && flightForm.controls['airline']?.touched" class="error-message">
        Airline is required
      </div>
    </div>

    <div>
      <label for="arrivalDate">Arrival Date:</label>
      <input type="date" name="arrivalDate" [(ngModel)]="formData.arrivalDate" required
      [ngClass]="{'is-invalid': flightForm.controls['arrivalDate']?.invalid && flightForm.controls['arrivalDate']?.touched}">
      <div *ngIf="flightForm.controls['arrivalDate']?.invalid && flightForm.controls['arrivalDate']?.touched" class="error-message">
        Arrival Date is required
      </div>
    </div>

    <div>
      <label for="arrivalTime">Arrival Time:</label>
      <input type="time" name="arrivalTime" [(ngModel)]="formData.arrivalTime" required
      [ngClass]="{'is-invalid': flightForm.controls['arrivalTime']?.invalid && flightForm.controls['arrivalTime']?.touched}">
      <div *ngIf="flightForm.controls['arrivalTime']?.invalid && flightForm.controls['arrivalTime']?.touched" class="error-message">
        Arrival Time is required
      </div>
    </div>

    <div>
      <label for="flightNumber">Flight Number:</label>
      <input type="text" name="flightNumber" [(ngModel)]="formData.flightNumber" required
      [ngClass]="{'is-invalid': flightForm.controls['flightNumber']?.invalid && flightForm.controls['flightNumber']?.touched}">
      <div *ngIf="flightForm.controls['flightNumber']?.invalid && flightForm.controls['flightNumber']?.touched" class="error-message">
        Flight Number is required
      </div>
    </div>

    <div>
      <label for="numOfGuests">Number of Guests:</label>
      <input type="number" name="numOfGuests" [(ngModel)]="formData.numOfGuests" required
      [ngClass]="{'is-invalid': flightForm.controls['numOfGuests']?.invalid && flightForm.controls['numOfGuests']?.touched}">
      <div *ngIf="flightForm.controls['numOfGuests']?.invalid && flightForm.controls['numOfGuests']?.touched" class="error-message">
        Number of Guests is required
      </div>
    </div>

    <div>
      <label for="comments">Comments:</label>
      <textarea name="comments" [(ngModel)]="formData.comments"></textarea>
    </div>

    <button type="submit" [disabled]="flightForm.invalid">{{ editingIndex !== null ? 'Update' : 'Submit' }}</button>
  </form>

  <p *ngIf="successMessage" class="popup">{{ successMessage }}</p>

  <h2>List of Flights</h2>
  <ul>
    <li *ngFor="let submission of submissions; let i = index">
        Airline: {{ submission.airline }} <br>
        Arrival Date: {{ submission.arrivalDate }} <br>
        Arrival Time: {{ submission.arrivalTime }} <br>
        Flight Number: {{ submission.flightNumber }} <br>
        Guests: {{ submission.numOfGuests }} <br>
        Comments: {{ submission.comments || 'No comments'}} <br>
        <button (click)="onEdit(i)">Edit</button>
        <button (click)="onDelete(i)">Delete</button>
    </li>
  </ul>
